body {
    background-color: black;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    margin: 0;
  }
  body {
    background-color: black;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    font-size: 100%;
    margin: 0;
  }
  
  header {
    padding: 20px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav li {
    display: inline;
    margin-right: 20px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 200px;
  }
  
  section {
    padding: px 0;
  }
  
  section#home {
    background-color: #111;
  }
  
  section#about {
    background-color: #222;
  }
  
  section#portfolio {
    background-color: #333;
  }
  
  section#blog {
    background-color: #444;
  }
  
  section#contact {
    background-color: #555;
  }